<div class="topnav">
    <a class="reload" onclick="refresh()">Eco</a>
    <a class="active" href="/EcoEmber2/Home.html">Home</a>
    <a href="/EcoEmber2/Cart.html">Cart</a>
    <a href="/EcoEmber2/OrderDetail.html">Your Order</a>
    <a onclick="logout()">Logout</a>
</div>