<article class="topnavbar">
    <a class="reload" {{action 'refresh'}}>Eco</a>
    <a class="active" {{action 'refresh'}}>Home</a>
    <a href="#/Cart">Cart</a>
    <a href="#/OrderDetail">Your Order</a>
    <a {{action 'logout'}}>Logout</a>
</article>