.topnav {
  overflow: hidden;
  background-color: #333;
  color: #f2f2f2;
  padding: 14px 16px;
}
.topnav a {
        border-radius: 14px;
        color: #f2f2f2;
        text-align: center;
        padding: 5px 18px 14px;
        text-decoration: none;
        font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
