.btncart{
        border-radius: 10px;
        padding: 14px 20px 15px;
        border: none;
        background-color: #f4511e;
        opacity: .7;
}

.btncart:hover {
        background-color: #4CAF50;
        opacity: 1;
}

#cartlist #cancel{
    background-color: #F75C3C;
    border-radius: 14px;
}

#cartlist button:hover {
  background-color: #04AA6D;
  color: white;
}

.reload {
    margin-left: auto;
    float: right;
    display: flex;
}

#cardbtn{
    padding-bottom: 10px;
}

#cardbtn input{
    height: inherit;
}

body {
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
    background: linear-gradient(to right, #3f4c6b, #606c88);
}