{{#each model as |post|}}
    {{topnav-bar type1=post.type1 type2=post.type2 type3=post.type3 type4=post.type4}}
{{/each}}
<div>
    <div id="catname"></div>
    <div class="row text-center py-5" id="itemData">
        {{#each this.itemData as |p|}}
            <div class="outercard">
                <div class="innercard">
                    <label><b>{{p.cateory_name}}</b></label><br>
                    <button id="cardbtn"  {{action 'redirectthis'  p.cateory_name}}
                            value={{p.cateory_name}}>Goto</button>
                </div>
            </div>
        {{/each}}
    </div>
</div>

