<head>
    <link rel="stylesheet" href="app/styles/login.css">
</head>
<form id="signform" >
    <div class="container">
        <div id="inner_container1">
            <span id="error"></span>
            <label><b>Email Id</b></label>
            <input type="email" name="emailId" id="emailId" placeholder="E-Mail Id">
            <label><b>Password</b></label>
            <input type="password" name="password" id="password" placeholder="Password"><br>
            <a href="/Eco/Signup.html">Create Account...</a>
        </div>
        <div id="inner_container2">
            <input  {{action 'getUser'}} type="submit" id="submit" value="Sign In">
        </div>
    </div>
</form>

{{outlet}}
