<form id="signform">
    <div class="container">
        <div id="inner_container1">
            <span id="error"></span>
            <label><b>Name</b></label>
            <input type="text" name="name" id="name" placeholder="Username" required>

            <label><b>Email Id</b></label>
            <input type="email" name="emailId" id="emailId" placeholder="E-Mail Id" required>

            <label><b>Password</b></label>
            <input type="password" name="password" id="password" placeholder="Password" required>

            <label><b>Confirm Password</b></label>
            <input type="password" name="cpassword" id="cpassword" placeholder="Re-type Password" required>

            <label><b>Date of Birth</b></label>
            <input type="date" name="dob" id="dob" placeholder="Birth date" required>

            <label><b>Address</b></label>
            <textarea rows="4" cols="20" name="address" id="address" placeholder="Your Address" required></textarea>

            <label><b>Phone No</b></label>
            <input type="tel" name="phone" id="phone" placeholder="Mobile Number" required>

            <label><b>Signup as a Vendor</b></label>
            <input type="checkbox" id="admin"/>

            <p>Have Account?<a href="/Eco/Login2">Back to Sign in...</a></p>
        </div>
        <div id="inner_container2">
            <input type="submit" id="submit" value="Sign In">
        </div>
    </div>
</form>
<div id="snackbar">Some text some message..</div>
