<div>
    <div class="topnav">
        <a href="/Eco/VendorHomePage.html">Home</a>
        <a href="/Eco/AddProduct.html">Add</a>
        <a class="reload" href="/Eco/VendorDelivery.html">Delivery</a>
        <a class="active" class="reload" onclick="getvendordeatil('delivered');">Delivered</a>
        <a class="reload" onclick="logout()">Logout</a>
    </div>
    <form id="addform">
        <table id="cartlist">
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Brand Name</th>
                <th>Color</th>
                <th>Size</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </form>
</div>

